.wearmeat-create {
  line-height: 1.8em;
}

.wearmeat-create-subtitle {
  font-size: 1.2em;
}

.wearmeat-create-disclaimer {
  margin-top: 2em;
  font-size: 0.8em;
  line-height: 1.2em;
}

.wearmeat-create-method-description {
  font-size: 0.8em;
  line-height: 1.2em;
  white-space: normal;
}