.wearmeat-dest-card {

  position: absolute;
  bottom: 1em;
  width: calc(100% - 20px);
}

.wearmeat-dest-card-name {
  text-transform: uppercase;
  color: #000;
  font-size: 1.4em;
  font-weight: bold;
}