$chosen-color: #4789c0;

.angular-google-map {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.angular-google-map-container {
  height: 100%;
  width: 100%;
}  

// Map labels
.wearmeat-label-dc {
  background: #fff;
  padding: 0.2em 0.4em;
  border: #444 solid 1px;
  text-transform: uppercase;
}

.wearmeat-label-dc-chosen {
  box-shadow: 0 0 10px $chosen-color;
}