<ion-view title="WHEREMEET">
  <ion-content class="padding wearmeat-create" scroll="true">

    <p class="wearmeat-create-subtitle">
      Use <strong>Wheremeet</strong> to find the Purdue dining court
      that's closest to you and your friends.
    </p>

    <h3>Get Started</h3>
    <h4>Dining courts you're interested in going to:</h4>

    <ul ng-repeat="court in diningCourts">

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="court.selected">
         </label>
         {{court.name}}
      </li>

    </ul>

    <h4>Method of calculating distance:</h4>

    <div class="list">

      <label class="item item-radio">
        <input type="radio" value="linear" ng-model="decisionAlgorithm">
        <div class="item-content">
          Linear
          <div class="wearmeat-create-method-description">
            Minimizes the total distance everyone has to walk.
          </div>
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" value="balanced" ng-model="decisionAlgorithm">
        <div class="item-content">
          Balanced
          <div class="wearmeat-create-method-description">
            Tries to keep any specific person from having to walk too far.
          </div>
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

    </div>



    <button class="button button-full button-positive" ng-click="createGroup()">
      Continue
    </button>



    <p class="wearmeat-create-disclaimer">
      We'll ask for your location. It's used to find your position relative to
      other people. We don't persist your location on our servers, or use it
      to track you, or anything.
    </p>

    <p class="wearmeat-create-disclaimer">
      Wheremeet was created by Elliott Williams &amp; Clay Thomas at Purdue
      Boilermake 2014. Its name is inspired by
      <a href="https://upload.wikimedia.org/wikipedia/en/9/9f/Lady_Gaga_meat_dress.jpg">
        the queen
      </a>.
    </p>



  </ion-content>
</ion-view>